.size-204 {
    width: calc(100% - 105px);
}

.css-7k2jum {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.css-7k2jum > div {
    width: 180px;
    margin: 0px 12px 12px 0px;
}

.css-10wy6qd {
    display: flex;
    position: relative;
    flex: 0 0 216px;
    height: 70px;
    margin: 8px;
    filter: drop-shadow(rgba(0, 0, 0, 0.12) 0px 1px 3px);
    box-sizing: border-box;
    width: 190px;
}

.css-10wy6qd > div {
    background-color: rgb(255, 255, 255);
}

.css-17w967y {
    position: relative;
}

.css-10wy6qd * {
    box-sizing: border-box;
}

.css-10wy6qd > div {
    background-color: rgb(255, 255, 255);
}

.css-7yj588 {
    flex: 1 1 100px;
    padding: 8px 0px 8px 8px;
    white-space: nowrap;
    min-width: 108px;
    cursor: pointer;
}

.css-10wy6qd * {
    box-sizing: border-box;
}

.css-3lpl5n a, .css-3lpl5n p, .css-3lpl5n span, .css-3lpl5n li {
    font-family: "open sans", tahoma, sans-serif;
}

.css-19gt17v-unf-heading-unf-heading {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 0.857143rem;
    line-height: 18px;
    color: var(--color-text-high,rgba(49,53,59,0.96));
    text-decoration: initial;
    margin: 0px;
    text-transform: capitalize;
}

.css-10wy6qd * {
    box-sizing: border-box;
}

.css-whbpyf {
    margin-top: 0px;
    margin-bottom: 2px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.43;
    overflow: hidden;
    text-overflow: ellipsis;
}

.css-10wy6qd * {
    box-sizing: border-box;
}

.css-3lpl5n a, .css-3lpl5n p, .css-3lpl5n span, .css-3lpl5n li {
    font-family: "open sans", tahoma, sans-serif;
}

.css-uswdof {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 9px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.38);
}

.css-10wy6qd * {
    box-sizing: border-box;
}

.css-10wy6qd > div {
    background-color: rgb(255, 255, 255);
}

.css-1fgyps7 {
    flex: 0 0 66px;
    display: flex;
    width: 125px;
    background-image: url('https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/c0c8b6b0.svg');
    background-repeat-y: no-repeat;
    background-size: 160% 70px;
}

.css-10wy6qd * {
    box-sizing: border-box;
}

.css-10wy6qd > div {
    background-color: rgb(255, 255, 255);
}

.css-dlnyqv {
    position: relative;
}

.css-10wy6qd * {
    box-sizing: border-box;
}

.glyphicon {
    font-size: 30px;
}

.css-zeq6c8 {
    margin: 0px 0px 10px;
    color: var(--N700,#31353B);
    line-height: 60px;
    font-size: 60px;
    font-weight: 400;
}

.css-zeq6c8 > span {
    margin-left: 5px;
    color: var(--N400,#6C727C);
    line-height: 22px;
    font-size: 16px;
}

.css-3lpl5n a, .css-3lpl5n p, .css-3lpl5n span, .css-3lpl5n li {
    font-family: "open sans", tahoma, sans-serif;
}

.css-ddjk3l {
    display: block;
    position: relative;
    font-weight: 800;
    font-family: "Nunito Sans", -apple-system, sans-serif;
    text-decoration: initial;
    font-size: 1.14286rem;
    line-height: 22px;
    color: var(--N700,rgba(49,53,59,0.96));
    margin: 0px;
    text-transform: uppercase;
}

.css-3lpl5n a, .css-3lpl5n p, .css-3lpl5n span, .css-3lpl5n li {
    font-family: "open sans", tahoma, sans-serif;
}

.css-1s46cvt {
    font-size: 1rem;
    font-weight: 400;
    text-transform: none;
    margin-top: 10px;
    line-height: 22px;
}

.css-pcuskv {
    display: block;
    position: relative;
    font-weight: 800;
    font-family: "Nunito Sans", -apple-system, sans-serif;
    text-decoration: initial;
    font-size: 0.85714rem;
    line-height: 18px;
    color: var(--N700,rgba(49,53,59,0.68));
    margin: 32px 0px 16px;
    text-transform: uppercase;
}

.css-1jetg87 {
    padding: 24px 0px;
    border-bottom: 1px solid var(--N75,#E5E7E9);
}

.css-l4kq1m {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.css-7smpge {
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    margin: 0px;
    width: 20%;
}

.css-53duzp {
    flex-shrink: 0;
    align-self: center;
    width: 48px;
    height: 48px;
    min-width: 0px;
    margin-left: 0px;
    border-left: none;
}

.css-snjfsc {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--N0,#FFFFFF);
    cursor: inherit;
    overflow: hidden;
}

.css-1ew46s1-unf-img {
    width: 100%;
    border-radius: 4px;
    height: 100%;
    display: flex;
    background-image: none;
}

.css-1nxyhqh {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.css-3efjn4 {
    flex-shrink: 1;
    align-self: center;
    min-width: 0px;
    padding: 0px 0px 0px 16px;
    margin-left: 0px;
    border-left: none;
}

.css-3lpl5n a, .css-3lpl5n p, .css-3lpl5n span, .css-3lpl5n li {
    font-family: "open sans", tahoma, sans-serif;
}

.css-xige44-unf-link {
    color: var(--G500,#03AC0E);
    font-size: 0.857143rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    overflow-wrap: break-word;
}

.css-3lpl5n a, .css-3lpl5n p, .css-3lpl5n span, .css-3lpl5n li {
    font-family: "open sans", tahoma, sans-serif;
}

.css-1og4tm6-unf-heading-unf-heading {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 0.857143rem;
    line-height: 18px;
    color: var(--color-text-disabled,rgba(49,53,59,0.32));
    text-decoration: initial;
    margin: 0px;
}

.css-17gqcdy {
    width: 60%;
}

.css-xhl5yf {
    display: inline-block;
    vertical-align: middle;
    width: 76px;
    height: 12px;
    margin: 0px;
    background: url(https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/4ed9ea8f.svg) left center / contain no-repeat, url(https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/4ed9ea8f.svg) 16px center no-repeat, url(https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/4ed9ea8f.svg) 32px center no-repeat, url(https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/4ed9ea8f.svg) 48px center no-repeat, url(https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/4ed9ea8f.svg) 64px center no-repeat;
}

.css-3lpl5n a, .css-3lpl5n p, .css-3lpl5n span, .css-3lpl5n li {
    font-family: "open sans", tahoma, sans-serif;
}

.css-s4w7lz-unf-heading-unf-heading {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    color: var(--color-text-low,rgba(49,53,59,0.68));
    text-decoration: initial;
    margin: 3px 0px 0px;
}

.css-3lpl5n a, .css-3lpl5n p, .css-3lpl5n span, .css-3lpl5n li {
    font-family: "open sans", tahoma, sans-serif;
}

.css-c9o9wb {
    padding: 12px 16px 12px 8px;
    margin-top: 16px;
    border-radius: 16px;
    background-color: var(--N50,#F3F4F5);
}

.css-drikti {
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    margin: 0px;
}

.css-jk7iwj {
    flex-shrink: 0;
    width: 32px;
    min-width: 0px;
    padding: 4px 0px 0px;
    margin-left: 0px;
    border-left: none;
}

.css-nny01h > div, .css-nny01h > div:hover {
    box-shadow: rgb(49 53 59 / 12%) 0px 1px 2px 0px;
}

.css-1hy3mwi {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--N0,#FFFFFF);
    cursor: inherit;
    overflow: hidden;
}

.css-1ew46s1-unf-img {
    width: 100%;
    border-radius: 4px;
    height: 100%;
    display: flex;
    background-image: none;
}

.css-1nxyhqh {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.css-1p0pkw3 {
    flex-shrink: 1;
    min-width: 0px;
    padding: 0px 0px 0px 12px;
    margin-left: 0px;
    border-left: none;
}

.css-3lpl5n a, .css-3lpl5n p, .css-3lpl5n span, .css-3lpl5n li {
    font-family: "open sans", tahoma, sans-serif;
}

.css-nny01h > div, .css-nny01h > div:hover {
    box-shadow: rgb(49 53 59 / 12%) 0px 1px 2px 0px;
}

.css-mh4tan-unf-label {
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 700;
    border-radius: 3px;
    line-height: 16px;
    padding: 0px 8px;
    height: 20px;
    font-size: 0.714286rem;
    background-color: var(--G200,#D6FFDE);
    color: var(--G500,#03AC0E);
    margin: 0px;
    overflow: initial;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 280ms ease-out 0s;
}

.css-3lpl5n a, .css-3lpl5n p, .css-3lpl5n span, .css-3lpl5n li {
    font-family: "open sans", tahoma, sans-serif;
}

.css-1og4tm6-unf-heading-unf-heading {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 0.857143rem;
    line-height: 18px;
    color: var(--color-text-disabled,rgba(49,53,59,0.32));
    text-decoration: initial;
    margin: 0px;
}

.css-3lpl5n a, .css-3lpl5n p, .css-3lpl5n span, .css-3lpl5n li {
    font-family: "open sans", tahoma, sans-serif;
}

.css-3lpl5n a, .css-3lpl5n p, .css-3lpl5n span, .css-3lpl5n li {
    font-family: "open sans", tahoma, sans-serif;
}

.stars-outer {
display: inline-block;
position: relative;
font-family: FontAwesome;
}

.stars-outer::before {
content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
position: absolute;
top: 0;
left: 0;
white-space: nowrap;
overflow: hidden;
width: 0;
}

.stars-inner::before {
content: "\f005 \f005 \f005 \f005 \f005";
color: #f8ce0b;
}

.stars-inner2 {
position: absolute;
top: 0;
left: 0;
white-space: nowrap;
overflow: hidden;
width: 0;
}

.stars-inner2::before {
content: "\f005 \f005 \f005 \f005 \f005";
color: #f8ce0b;
}

.attribution {
font-size: 12px;
color: #444;
text-decoration: none;
text-align: center;
position: fixed;
right: 10px;
bottom: 10px;
z-index: -1;
}
.attribution:hover {
color: #1fa67a;
}

.css-1hpmleg {
    display: block;
    padding: 32px;
    border: 1px solid var(--N75,#E5E7E9);
    border-radius: 8px;
    box-shadow: rgb(49 53 59 / 16%) 0px 2px 6px 0px;
}

.css-1q47ojj-unf-emptystate {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex: initial;
    text-align: center;
}

.css-1q47ojj-unf-emptystate .unf-emptystate-img {
    max-width: 300px;
    max-height: 300px;
}

.css-1q47ojj-unf-emptystate img {
    width: 130px;
    height: auto;
}

.css-1q47ojj-unf-emptystate img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.css-qdo48k-unf-heading-unf-heading {
    display: block;
    position: relative;
    font-weight: 800;
    font-family: "Nunito Sans", -apple-system, sans-serif;
    font-size: 1.42857rem;
    line-height: 26px;
    color: var(--color-text-high,rgba(49,53,59,0.96));
    text-decoration: initial;
    margin: 8px 0px 0px;
}

.css-3lpl5n a, .css-3lpl5n p, .css-3lpl5n span, .css-3lpl5n li {
    font-family: "open sans", tahoma, sans-serif;
}

.css-a9wblb-unf-heading-unf-heading {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    color: var(--color-text-low,rgba(49,53,59,0.68));
    text-decoration: initial;
    margin: 4px 0px 0px;
}

.bl-flex-container:last-child {
    margin-bottom: 0;
}

.align-items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl-flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sigil .sigil-header__nav {
    position: relative;
    display: flex;
    align-items: center;
    height: 24px;
    cursor: pointer;
    margin-right: 20px;
}

.bl-link.is-hide-underline {
    background-image: none;
}

.c-header-v2 a {
    color: #5e5e5e;
    font-size: 14px;
    text-decoration: none;
}

.pr-4 {
    padding-right: 4px!important;
}

.bl-link {
    font-family: Hind Madurai,sans-serif;
    display: inline;
    position: relative;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.pr-4 {
    padding-right: 4px!important;
}

.bl-text--body-small {
    font-size: 14px;
    line-height: 1.46429;
}

.bl-text--semi-bold {
    font-weight: 600;
}
.bl-text {
    font-family: Hind Madurai,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    color: #141414;
    margin: 0;
}

.sigil .sigil-header__nav:last-child {
    margin-right: 0;
}

.sigil .sigil-header__nav {
    position: relative;
    display: flex;
    align-items: center;
    height: 24px;
    cursor: pointer;
    margin-right: 20px;
}

.sigil-header__nav:last-child {
    margin-right: 0;
}

.c-header-v2 a {
    color: #5e5e5e;
    font-size: 14px;
    text-decoration: none;
}

.navbar-wrapper .navbar__link {
    cursor: pointer;
}

.navbar__link--tappable {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar__link {
    position: relative;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 .625rem;
}

.navbar__link, .navbar__links {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar__link {
    color: currentColor;
}

.stardust-popover {
    position: relative;
}

.navbar__link--account__container {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: none;
}

.navbar .shopee-avatar {
    width: 1.375rem;
    height: 1.375rem;
}

._2BuJEf, .shopee-avatar {
    width: 50px;
    height: 50px;
}

.shopee-avatar {
    display: inline-block;
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    border-radius: 50%;
    border: .0625rem solid rgba(0,0,0,.09);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.shopee-avatar__placeholder {
    width: 100%;
    position: relative;
    padding-top: 100%;
    background-color: #f5f5f5;
    border-radius: 50%;
    overflow: hidden;
}

.navbar .shopee-avatar__placeholder .icon-headshot {
    font-size: .9375rem;
    line-height: .9375rem;
}

.shopee-avatar__placeholder .icon-headshot {
    stroke: #c6c6c6;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

svg:not(:root) {
    overflow: hidden;
}

.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}

.navbar__username {
    max-width: 9.375rem;
    padding-left: .3125rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page__pagination {
    font-size: 0;
    margin-left: -6px;
    margin-right: -6px;
}

.page__pagination .current, .page__pagination a:hover {
    background-color: #0091ea;
    color: #fff;
}

.page__pagination span, .page__pagination a {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    color: #666;
    min-width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    padding: 0 10px;
    background-color: #fff;
    border-radius: 1px;
    margin: 6px;
}

.page__pagination span, .page__pagination a {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    color: #666;
    min-width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    padding: 0 10px;
    background-color: #fff;
    border-radius: 1px;
    margin: 6px;
}